.selector-for-some-widget {
    box-sizing: content-box;
}

.circular-image {
    border-radius: 50%;
}

.bg-black {
    background-color: #161B22;
}

.dark-mode {
    background-color: #0D1117;
    color: #C9D1D9;
}

.dropdown-dark {
    background-color: #0D1117;
    color: #C9D1D9;
}

.dropdown-dark {
    background-color: #0D1117;
    color: #C9D1D9;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

.footer-copyright {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer div ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer div ul li {
    margin: 0 20px;
    display: block;
    color: #C9D1D9;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

footer div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0D1117;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 85%;
    margin: 0 auto;
}

hr:after {
    background: #0D1117;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
    color: #C9D1D9;
}

#above_footer_line {
    margin-top:-5px; 
}